@using AvansMealDeal.Domain.Models
@model MealPackageDetailsViewModel
<!-- meal package details form -->
@using (Html.BeginForm("Edit", "MealPackages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div asp-validation-summary="All"></div>
	<form asp-action="Edit" method="post">
		<!-- name -->
		<label asp-for="MealPackage.Name">Naam:</label>
		<input asp-for="MealPackage.Name" />
		<span asp-validation-for="MealPackage.Name"></span>

		<!-- price -->
		<label asp-for="MealPackage.Price">Prijs:</label>
		<input asp-for="MealPackage.Price" />
		<span asp-validation-for="MealPackage.Price"></span>

		<!-- meal package type -->
		<label asp-for="MealPackage.MealPackageType">Type maaltijdpakket:</label>
		<select asp-for="MealPackage.MealPackageType" asp-items="Html.GetEnumSelectList<MealPackageType>()"></select>
		<span asp-validation-for="MealPackage.MealPackageType"></span>

		<!-- pickup deadline -->
		<label asp-for="MealPackage.PickupDeadline">Ophaaltijdstip:</label>
		<input asp-for="MealPackage.PickupDeadline" />
		<span asp-validation-for="MealPackage.PickupDeadline"></span>

		<!-- meals to add to the meal package -->
		<table>
			<thead>
				<tr>
					<th>Foto</th>
					<th>Naam</th>
					<th>Bevat alcohol</th>
					<th>Onderdeel van maaltijdpakket?</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var meal in Model.Meals)
				{
					var mealIsSelectedInPackage = Model.MealPackage.Meals.Any(x => x.MealId == meal.Id);
					@await Html.PartialAsync("_MealPackageMeal", new MealPackageMealViewModel(meal, mealIsSelectedInPackage))
				}
			</tbody>
		</table>

		<button>Bewerk</button>
	</form>
}