@using AvansMealDeal.Domain.Models
@model ICollection<MealPackage>

@foreach (var mealPackage in Model)
{
    @await Html.PartialAsync("_MealPackage", mealPackage)
    <button>Bewerk</button>
    <button>Verwijder</button>
}

<a asp-area="" asp-controller="MealPackages" asp-action="Add">Voeg maaltijdpakket toe</a>