@model AddMealViewModel
<!-- meal adding form -->
@using (Html.BeginForm("Add", "Meals", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div asp-validation-summary="All"></div>
    <form asp-action="Add" method="post">
		<!-- name -->
		<div class="form-group">
			<label asp-for="Name">Naam</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name"></span>
		</div>

		<!-- contains alcohol -->
		<div class="form-group">
			<label asp-for="ContainsAlcohol">Bevat alcohol?</label>
			<select asp-for="ContainsAlcohol" class="form-control">
				<option value="False">Nee</option>
				<option value="True">Ja</option>
			</select>
			<span asp-validation-for="ContainsAlcohol"></span>
		</div>

		<!-- photo -->
		<div class="form-group">
			<label asp-for="Photo">Foto:</label>
			<input asp-for="Photo" type="file" class="form-control-file">
			<span asp-validation-for="Photo"></span>
		</div>

		<button class="btn btn-lg btn-primary">Voeg toe</button>
	</form>
}