@using AvansMealDeal.Domain.Models
@model ICollection<Meal>

@foreach (var meal in Model)
{
    <h1>Naam: @meal.Name</h1>
    <h2>Bevat alcohol: @meal.ContainsAlcohol</h2>
    @if (@meal.Photo != null)
    {
        <img src="data:image/png;base64,@Convert.ToBase64String(meal.Photo)"/>
    }
}

<a asp-area="" asp-controller="Meals" asp-action="Add">Voeg maaltijd toe</a>