@using AvansMealDeal.Domain.Models
@using AvansMealDeal.UserInterface.WebApp.Helpers
@model ICollection<Meal>

<a asp-area="" asp-controller="Meals" asp-action="Add">Voeg maaltijd toe</a>
<h1>Maaltijden</h1>
@foreach (var meal in Model)
{
    <h3>Naam: @meal.Name</h3>
    <h6>Bevat alcohol: @HtmlHelpers.DisplayDutchBoolean(@meal.ContainsAlcohol)</h6>
    @if (@meal.Photo != null)
    {
        <img src="data:image/png;base64,@Convert.ToBase64String(meal.Photo)" style="width:100px; height:100px;" />
        <br />
    }
    <br />
}
