@using AvansMealDeal.Domain.Models
@model AddMealPackageViewModel
<!-- meal package adding form -->
@using (Html.BeginForm("Add", "EmployeeMealPackages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div asp-validation-summary="All"></div>
	<br />
	<form asp-action="Add" method="post">
		<!-- name -->
		<div class="form-group">
			<label asp-for="Name">Naam</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name"></span>
		</div>

		<!-- price -->
		<div class="form-group">
			<label asp-for="Price">Prijs (euro's)</label>
			<input asp-for="Price" type="number" min="0.01" max="9999.99" step="0.01" class="form-control" />
			<span asp-validation-for="Price"></span>
		</div>

		<!-- meal package type -->
		<div class="form-group">
			@if (Model.CanteenOffersHotMeals) 
			{
				<label asp-for="MealPackageType">Type maaltijdpakket:</label>
				<select asp-for="MealPackageType" asp-items="Html.GetEnumSelectList<MealPackageType>()" class="form-control"></select>
			}
			else 
			{
				<label asp-for="MealPackageType">Type maaltijdpakket (deze kantine biedt geen warme maaltijden aan):</label>
				<!-- canteen offers no hot meals, so remove HotMeal from the dropdown (the value inside the dropdown is a string version of the enum int value) -->
				<select asp-for="MealPackageType" asp-items="Html.GetEnumSelectList<MealPackageType>().Where(x => x.Value != ((int)MealPackageType.HotMeal).ToString())" class="form-control"></select>
			}
			<span asp-validation-for="MealPackageType"></span>
		</div>

		<!-- pickup deadline -->
		@{
			// deadline input should be between now and 48 hours in the future
			var now = DateTimeOffset.Now;
			var minValue = now.AddMinutes(5).ToString("yyyy-MM-ddTHH:mm"); // add five minutes for better user experience (otherwise, pickup deadline could be in the past when user submits form)
			var maxValue = now.AddHours(48).ToString("yyyy-MM-ddTHH:mm");
		}
		<div class="form-group">
			<label asp-for="PickupDeadline">Deadline:</label>
			<input asp-for="PickupDeadline" min="@minValue" max="@maxValue" value="@maxValue" type="datetime-local" class="form-control" />
			<span asp-validation-for="PickupDeadline"></span>
		</div>

		<!-- meals to add to the meal package -->
		<br />
		<h3>Voorbeeldmaaltijden:</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Foto   </th>
					<th>Naam   </th>
					<th>Bevat alcohol   </th>
					<th>Onderdeel van maaltijdpakket?   </th>
				</tr>
			</thead>
			<tbody>
				@foreach (var meal in Model.Meals.Select(x => new EmployeeMealPackageMealViewModel(x, selected: false)))
				{
					@await Html.PartialAsync("_EmployeeMealPackageMeal", meal)
				}
			</tbody>
		</table>
		<br />
		<h6>De bovenstaande maaltijden zijn een voorbeeld van de inhoud van het maaltijdpakket, de daadwerkelijke inhoud kan afwijken.</h6>

		<button class="btn btn-lg btn-primary">Voeg toe</button>
	</form>
}