@using AvansMealDeal.Domain.Models
@model ICollection<MealPackage>

@foreach (var mealPackage in Model)
{
    @await Html.PartialAsync("_MealPackage", mealPackage)
        <a asp-area="" asp-controller="EmployeeMealPackages" asp-action="Details" asp-route-id="@mealPackage.Id">Details</a>
    <br />
}
<br />
<a asp-area="" asp-controller="EmployeeMealPackages" asp-action="Add">Voeg maaltijdpakket toe</a>