@using AvansMealDeal.Domain.Models
@model ICollection<MealPackage>

@foreach (var mealPackage in Model)
{
    @await Html.PartialAsync("_MealPackage", mealPackage)
    <h5>Ophaaltijdstip: @mealPackage.Reservation!.PlannedPickup.DateTime <!--do not show timezone by discarding offset--></h5>
    <br />
}
<br />
