@using AvansMealDeal.Domain.Models
@model ICollection<MealPackage>

<h1>Mijn gereserveerde maaltijdpakketten</h1>
<br />
@foreach (var mealPackage in Model)
{
    @await Html.PartialAsync("_MealPackage", mealPackage)
    <a asp-area="" asp-controller="StudentMealPackages" asp-action="Details" asp-route-id="@mealPackage.Id">Details</a>
    <br />
    <br />
}
<br />
